<div class = "container_12 clearfix">
  <%= yield :footer %>
  <div class = "grid_2 alpha">
    <ul>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Get a loan", "https://prodigyfinance.com/get_a_loan" %></li>
      <li><%= link_to "Invest", "https://prodigyfinance.com/investor_home_path" %></li>
      <li><%= link_to "Login", "#" %></li>
    </ul>
  </div>
  <div class = "grid_4">
    <ul>
      <li><%= link_to "How it works", "#" %></li>
      <li><%= link_to "Prodigy Finance for schools", "prodigy_for_schools_path" %></li>
      <li><%= link_to "Prodigy Finance for institutions", "prodigy_for_institutions_path" %></li>
    </ul>
  </div>
  <div class = "grid_3">
    <ul>
      <li><%= link_to "Help" , "help_path" %></li>
      <li><%= link_to "Investor FAQ" , "investor_faq_path" %></li>
      <li><%= link_to "Student FAQ" , "borrower_faq_path" %></li>
    </ul>
  </div>
  <div class = "grid_3 omega">
    <ul>
      <li><%= link_to "About us" , "about_us_path" %></li>
      <li><%= link_to "Contact us" , "contact_us_path" %></li>
      <li><%= link_to "Press room" , "press_room_path" %></li>
    </ul>
  </div>
  <div class = "dark-line grid_12 alpha omega clearfix"></div>
  <div class = "grid_12 alpha omega">
    <p style="font-size:11px;line-height: 12px;">© Prodigy Finance Ltd 2012. All Rights Reserved. Prodigy Finance Ltd is incorporated in the United Kingdom Company Number 05912562. Prodigy Finance is licensed under the Consumer Credit Act 1974 (Licence no 612713/1) and is an ICO registered data controller (Reg. No. Z9851854). Prodigy Finance Ltd is an appointed representative of Porta Verde Financial Services Limited which is authorised and regulated by the Financial Services Authority. Note that Prodigy Finance Limited carries out both regulated and unregulated business, and that its FSA-regulated activities extend only to promoting and arranging investment in the Notes.</p>
  </div>
</div>

