<!DOCTYPE html>
<html>
<head>
  <title>FreshBuilt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>
    <ul>
      <li><%= link_to 'Create User', new_user_path %></li>
      <div class = "btn-ambass"><%= link_to 'Ambassadors', users_path, :class => 'btn btn-warning' %></div>
    </ul>
	</header>

	<div id = "main">
    <nav>

    </nav>
		<%= yield %>
	</div>

</div>

	<footer>
	</footer>

</body>
</html>
